/* General rules */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p, span {
  font-family: 'Roboto', sans-serif;
}

.show {
  display: block;
}

.hide {
  display: none;
}

/* <!-- Contenitore generale --> */
.wrapper {
  height: 100vh;
  width: 100%;
}

/* <!-- Corpo principale --> */
main {
  position: relative;
}

/* <!-- header di sfondo --> */
#background-header {
  height: 115px;
  width: 100%;
  background-color: #128c7e;
}

/* <!-- sfondo corpo principale --> */
#background-main {
  height: calc(100vh - 115px);
  width: 100%;
  background-color: #ece5dd;
}

/* <!-- contenuto corpo principale --> */
#main-body {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translate(-50%);
  width: 70%;
  height: 95%;
  margin: 0 auto;
  background-color: white;
}

/* <!-- navigazione e ricerca contatti --> */
#contacts {
  float: left;
  width: 250px;
  height: 100%;
  /* debug */
  background-color: pink;
}

/* <!-- sezione nav e corpo chat --> */
#main-content {
  float: left;
  height: 100%;
  width: calc(100% - 250px);
  overflow: auto;
}

/* <!-- nav del profilo ed azioni --> */
#profile-action-nav {
  display: flex;
  height: 70px;
  padding: 0 15px;
  background-color: #ededed;
}

#profile-action-nav .nav-left {
  display: flex;
  align-items: center;
  width: 50%
}

#profile-action-nav .nav-left img {
  height: 4rem;
  border-radius: 50%;
  padding: 5px;
}

#profile-action-nav .profile-information {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

#last-access {
  margin-top: 5px;
  font-size: 0.8rem;
  color: grey;
}

#profile-action-nav .nav-right {
  width: 50%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

#profile-action-nav .nav-right a i {
  font-size: 1.5rem;
  color: grey;
  margin-left: 20px;
}

/* <!-- corpo chat --> */
#chat-box {
  height: calc(100% - 140px);
  width: 100%;
  overflow: auto;
  background-image: url(https://i.imgur.com/bc3eMdZ.png);
  background-size: cover;
}


.speaker-side {
  float: left;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
  padding: 30px;
  padding-top: 70px;
}

.speaker-mex {
  height: fit-content;
  width: fit-content;
  padding: 6px 7px 8px 9px;
  border-radius: 7.5px;
  margin-bottom: 80px;
  background-color: #fff;
}

.user-side {
  float: left;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  height: 100%;
  width: 50%;
  padding: 30px;
}

.user-mex {
  height: fit-content;
  width: fit-content;
  padding: 6px 7px 8px 9px;
  border-radius: 7.5px;
  margin-bottom: 80px;
  background-color: #dcf8c6;
}

/* <!--box per scrivere messaggi --> */
#message-box {
  display: flex;
  align-items: center;
  height: 70px;
  width: 100%;
  padding: 0 10px;
  background-color: #ededed;
}

#message-box .emoticon .fa-smile {
  font-size: 1.5rem;
  color: grey;
}
#message-box .txt-box {
  width: 95%;
}

#message-box .txt-box #txt-form {
  width: 95%;
  height: 35px;
  border-radius: 30px;
  margin: 0 15px;
  padding-left: 10px;
  border: none;
  outline: none;
}

.send-btn .record  {
  font-size: 1.5rem;
  color: grey;
}

.send-btn .enter {
  display: none;
}

#message-box .send-btn  img {
  height: 23px;
}
