/* General rules */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p, span {
  font-family: 'Roboto', sans-serif;
}


/* <!-- Contenitore generale --> */
.wrapper {
  height: 100vh;
  width: 100%;
}

/* <!-- Corpo principale --> */
main {
  position: relative;
}

/* <!-- header di sfondo --> */
#background-header {
  height: 115px;
  width: 100%;
  background-color: #128c7e;
}

/* <!-- sfondo corpo principale --> */
#background-main {
  height: calc(100vh - 115px);
  width: 100%;
  background-color: #ece5dd;
}

/* <!-- contenuto corpo principale --> */
#main-body {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translate(-50%);
  width: 70%;
  height: 95%;
  margin: 0 auto;
  background-color: white;
}

/* <!-- navigazione e ricerca contatti --> */
#contacts {
  float: left;
  width: 350px;
  height: 100%;
  background-color: #ededed;
}

.my-profile {
  display: flex;
  align-items: center;
  height: 70px;
  padding: 0 10px;
  border-right: 1px solid grey;
  background-color: #ededed;
  border-bottom: 1px solid lightgrey;
}

.logo-profile {
  display: flex;
  align-items: center;
  width: 50%
}

.my-profile-nav {
  width: 50%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.my-profile-nav i {
  font-size: 1rem;
  color: grey;
  margin-left: 20px;
}

.my-profile img {
  height: 3rem;
  border-radius: 50%;
  padding: 5px;
}

.search {
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  padding: 5px;
  background-color: #ededed;
  border-bottom: 1px solid lightgrey;
}


.search .search-logo {
  font-size: 1.2rem;
  color: grey;
  margin-right: 10px;
}

.search #search-bar {
  width: 80%;
  height: 30px;
  padding-left: 10px;
  border-radius: 30px;
  border: none;
  outline: none;
}

.contact {
  display: flex;
  align-items: center;
  padding: 0 15px;
  height: 80px;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid lightgrey;
}

.contact.active {
  background-color: #ededed;
}

.contact .logo-contact {
  width: 20%;
}

.contact .logo-contact img {
  height: 4.2rem;
  border-radius: 50%;
  padding: 5px;
}

.contact .contact-information {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-left: 10px;
}

.contact .contact-information .ultimate-mex {
  margin-top: 5px;
  font-size: 0.8rem;
  color: grey;
}

.contact-time {
  display: flex;
  flex-direction: row-reverse;
  width: 40%;
}

.contact-time span {
  font-size: 0.8rem;
  color: grey;
}
/* <!-- sezione nav e corpo chat --> */
#main-content {
  float: left;
  height: 100%;
  width: calc(100% - 350px);
  overflow: auto;
}

/* <!-- nav del profilo ed azioni --> */
#profile-action-nav {
  display: flex;
  height: 70px;
  padding: 0 15px;
  background-color: #ededed;
}

#profile-action-nav .nav-left {
  display: flex;
  align-items: center;
  width: 50%
}

#profile-action-nav .nav-left img {
  height: 4rem;
  border-radius: 50%;
  padding: 5px;
}

#profile-action-nav .profile-information {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

#last-access {
  margin-top: 5px;
  font-size: 0.8rem;
  color: grey;
}

#profile-action-nav .nav-right {
  width: 50%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

#profile-action-nav .nav-right a i {
  font-size: 1rem;
  color: grey;
  margin-left: 30px;
}

/* <!-- corpo chat --> */
#chat-box {
  height: calc(100% - 140px);
  width: 100%;
  overflow: auto;
  background-image: url(https://i.imgur.com/bc3eMdZ.png);
  background-size: cover;
}



.speaker-side {
  float: left;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
  padding: 30px;
  padding-top: 70px;
}

.speaker-mex, .user-mex {
  display: flex;
  position: relative;
  height: fit-content;
  width: fit-content;
  padding: 6px 7px 8px 9px;
  border-radius: 7.5px;
  margin-bottom: 80px;
  background-color: #fff;
}
.speaker-mex i, .user-mex i {
  display: none;
}

.speaker-mex:hover i, .user-mex:hover i {
  display: block;
  cursor: pointer;
}

.speaker-mex p, .user-mex p {
  margin-right: 8px;
}

.speaker-mex .time, .user-mex .time {
  font-size: 10px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.option {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: -59px;
  right: -35px;
  height: fit-content;
  width: fit-content;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.user-mex .option{
  right: 0;
}
.mex-info {
  margin-bottom: 10px;
}

.mex-info, .mex-delete {
  cursor: pointer;
}

.user-side {
  float: left;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  height: 100%;
  width: 50%;
  padding: 30px;
}

.user-mex {
  background-color: #dcf8c6;
}


/* <!--box per scrivere messaggi --> */
#message-box {
  display: flex;
  align-items: center;
  height: 70px;
  width: 100%;
  padding: 0 10px;
  background-color: #ededed;
}

#message-box .emoticon .fa-smile {
  font-size: 1.5rem;
  color: grey;
}
#message-box .txt-box {
  width: 95%;
}

#message-box .txt-box #txt-form {
  width: 95%;
  height: 35px;
  border-radius: 30px;
  margin: 0 15px;
  padding-left: 10px;
  border: none;
  outline: none;
}

.send-btn .record  {
  font-size: 1.5rem;
  color: grey;
}



#message-box .send-btn  img {
  height: 23px;
}
